<div style="margin-left: 10%; margin-right: 10%;">
    <div class="text-center">
        <h2 style="color: #069abb; font-size: x-large; padding-top: 4%;"><b>Tudo o que você precisa a um clique de
                distância</b> </h2>
    </div>
    <div class="text-left">
        <p style="font-size: medium;">Cuidar da saúde nunca foi tão fácil. Com a GoMed, você tem soluções integradas de
            medicina e todas as etapas na palma da mão: do agendamento de consultas à compra de medicamentos.</p>
    </div>

    <div class="row text-center" style="margin-top: 5%;">
        <div class="col">
            <div class="card p-8" fxFlex fxLayout="column" fxLayoutAlign="start center">
                <div class="inline-block p-6 rounded-full bg-primary-light text-primary mx-auto" fxLayout="row"
                    fxLayoutAlign="center center">
                    <img src="assets/img/illustrations/medicos.svg" alt="">
                </div>
                <h2 class="headline my-6" style="color: #069abb;"><b> Agendamento de consultas </b></h2>
                <div class="body-1"> Marque suas consultas com especialistas de forma rápida e segura</div>
            </div>
        </div>
        <div class="col">
            <div class="card p-8" fxFlex fxLayout="column" fxLayoutAlign="start center">
                <div class="inline-block p-6 rounded-full bg-primary-light text-primary mx-auto" fxLayout="row"
                    fxLayoutAlign="center center">
                    <img src="assets/img/illustrations/exames.svg" alt="">
                </div>
                <h2 class="headline my-6" style="color: #069abb;"><b> Agendamento de exames </b></h2>
                <div class="body-1"> Dê avaliações de rotina a análises específicas, agende exames com facilidade</div>
            </div>
        </div>
        <div class="col">
            <div class="card p-8" fxFlex fxLayout="column" fxLayoutAlign="start center">
                <div class="inline-block p-6 rounded-full bg-primary-light text-primary mx-auto" fxLayout="row"
                    fxLayoutAlign="center center">
                    <img src="assets/img/illustrations/desconto-farmacia.svg" alt="">
                </div>
                <h2 class="headline my-6" style="color: #069abb;"><b> Desconto em medicamentos </b></h2>
                <div class="body-1"> Encontre as medicações de que precisa com os melhores preços </div>
            </div>
        </div>
    </div>

</div>