.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    // background-image: url('../../../../assets/img/illustrations/image.jpg');
    background-size: cover;
    width: 150px;
    height: 150px;
  }
  