<div>
    <div class="text-center">
        <h2 style="color: #069abb; font-size: x-large; padding-top: 4%;"><b>Recomendações</b> </h2>
    </div>

    <mat-carousel timings="1050ms ease-in" [autoplay]="true" interval="2500" color="primary" maxWidth="auto"
        proportion="25" slides="3" [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="true"
        orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" overlayColor="#f5f5f8"
            [hideOverlay]="false">
            <mat-card class="example-card text-center" style="margin: auto;">
                <mat-card-content style="margin-top: 5%;">
                    <p>{{slide.comentario}}</p>
                </mat-card-content>
                <mat-card-header>
                    <div style="margin: auto;"  class="example-header-image">
                        <img mat-card-avatar src="{{slide.imagem}}" style="background-size: cover;width: 150px;
                        height: 150px;" alt="">
                    </div>
                </mat-card-header>
                <div style="margin-top: 4%;">
                    <mat-card-title style="color: #069abb;">{{slide.nome}}</mat-card-title>
                    <mat-card-subtitle>{{slide.decricao}}</mat-card-subtitle>
                </div>
            </mat-card>
        </mat-carousel-slide>
    </mat-carousel>


</div>