<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="fundo ">
    <div style="margin-left: 10%; margin-right: 10%;">
        <div>
            <mat-button-toggle-group color="primary" style="border-radius: 30px" class="mt-4 sm:mt-0">
                <mat-button-toggle value="boxed" checked>Consultas</mat-button-toggle>
                <mat-button-toggle value="fullwidth">Exames</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <h1 style="color: #069abb; font-size: xx-large; padding-top: 4%;"><b>Agende agora sua consulta</b> </h1>
        <div [formGroup]="form" class="px-6 py-4" fxLayout="column">
            <div fxFlex="auto" fxLayout="column">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field fxFlex="grow" appearance="outline">
                            <mat-label>Especialidade</mat-label>
                            <mat-select [(value)]="selected">
                              <mat-select-trigger>
                                <span >
                                  <div class="row">
                                      <div class="col-md-2" style="margin: auto;">
                                        <img src="{{selected?.urlIcone}}" style="max-width: 25px;" alt="">
                                      </div>
                                      <div class="col-md-10">
                                        {{selected?.nome}}
                                      </div>
                                  </div>
                                </span>
                              </mat-select-trigger>
                              <mat-option *ngFor="let food of foods" [value]="food">
                                <div class="row">
                                    <div class="col-md-2" style="margin: auto;">
                                      <img src="{{food?.urlIcone}}" style="max-width: 25px;" alt="">
                                    </div>
                                    <div class="col-md-10">
                                      {{food?.nome}}
                                    </div>
                                </div>
                                </mat-option>
                            </mat-select>
                          </mat-form-field>

                    </div>
                    <div class="col-md-4">
                        <mat-form-field fxFlex="grow" appearance="outline">
                            <mat-label>Convenio</mat-label>
                            <mat-select [(value)]="selected" style=" background:  url({{selected?.urlIcone}})  center / contain no-repeat;white-space: nowrap">
                                <mat-option *ngFor="let food of foods" value="{{food}}">
                                        {{food.nome}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field fxFlex="grow" appearance="outline">
                            <mat-label>Cep</mat-label>
                            <input matInput formControlName="cep">
                        </mat-form-field>
                    </div>
                </div>
                <div style="padding-bottom: 2%;">
                    <button style="border-radius: 30px;" mat-raised-button type="submit">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>